    .gallery-photos-gallery {
    margin-top: 100px;
    margin: 0 auto;
    }

    .gallery-photos {
    margin-top: 2px;
    margin: 0 auto;
    padding: 3px;
    }

    .component_gallery{
    text-align: center;
    }

    .row {
    margin: 0;
    padding: 0;
    }
